
.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#toggle-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle-label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 72px;
  height: 36px;
  background: #211042;
  border-radius: 18px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FAEAF1;
  overflow: hidden;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #FAEAF1;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #FFFFF9;
  width: 30px;
  height: 30px;
  left: 3px;
  bottom: 3px;
}

.crater-2 {
  width: 7px;
  height: 7px;
  top: -2px;
  left: 15px;
}

.crater-3 {
  width: 5px;
  height: 5px;
  top: 7px;
  right: -1px;
}

.crater-4 {
  width: 3px;
  height: 3px;
  top: 8px;
  left: 10px;
}

.crater-5 {
  width: 5px;
  height: 5px;
  top: 14px;
  left: 16px;
}

.crater-6 {
  width: 3px;
  height: 3px;
  top: 17px;
  left: 7px;
}

.crater-7 {
  width: 4px;
  height: 4px;
  bottom: 2px;
  left: 12px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star-1 {
  width: 2px;
  height: 2px;
  right: 30px;
  bottom: 13px;
}

.star-2 {
  width: 3px;
  height: 3px;
  right: 23px;
  top: 3px;
}

.star-3 {
  width: 2px;
  height: 2px;
  right: 20px;
  bottom: 5px;
}

.star-4 {
  width: 1px;
  height: 1px;
  right: 13px;
  bottom: 17px;
}

.star-5 {
  width: 1px;
  height: 1px;
  right: 3px;
  bottom: 12px;
}

.star-6, .star-7, .star-8 {
  width: 3px;
  height: 1px;
  border-radius: 1px;
  transform: rotate(-45deg);
  box-shadow: 2px 0px 1px 0px #FFF;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: 10px;
  bottom: 10px;
  animation-delay: -2s;
}

.star-7 {
  right: 17px;
  bottom: 20px;
}

.star-8 {
  right: 30px;
  top: 3px;
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(25px);
  }

  50% {
    transform: rotate(-45deg) translateX(-7px);
    box-shadow: 2px 0px 2px 0px #FFF;
  }

  100% {
    transform: rotate(-45deg) translateX(-10px);
    width: 1px;
    height: 1px;
    opacity: 0;
    box-shadow: none;
  }
}

#toggle-checkbox:checked + .toggle-label {
  background: #24D7F7;
}

#toggle-checkbox:checked + .toggle-label .toggle-button {
  background: #F7FFFF;
  transform: translateX(36px);
  box-shadow: 0 0 10px 2px rgba(255, 255, 255);
}

#toggle-checkbox:checked + .toggle-label .toggle-button .crater {
  transform: rotate(-45deg) translateX(25px);
}

#toggle-checkbox:checked + .toggle-label .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#toggle-checkbox:checked + .toggle-label .star-1 {
  width: 14px;
  height: 4px;
  border-radius: 4px;
  background: #FFF;
  left: 7px;
  top: 8px;
  box-shadow: none;
}

#toggle-checkbox:checked + .toggle-label .star-2 {
  width: 4px;
  height: 4px;
  background: #FFF;
  left: 9px;
  top: 7px;
  box-shadow: -1px 0 1px 0 rgba(0, 0 , 0, 0.1);
}

#toggle-checkbox:checked + .toggle-label .star-3 {
  width: 5px;
  height: 5px;
  background: #FFF;
  left: 12px;
  top: 6px;
  box-shadow: -1px 0 1px 0 rgba(0, 0 , 0, 0.1);
}

#toggle-checkbox:checked + .toggle-label .star-4 {
  width: 4px;
  height: 4px;
  background: #FFF;
  left: 16px;
  top: 7px;
  box-shadow: -1px 0 1px 0 rgba(0, 0 , 0, 0.1);
}

#toggle-checkbox:checked + .toggle-label .star-5 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background: #FFF;
  left: 10px;
  bottom: 7px;
  box-shadow: none;
}

#toggle-checkbox:checked + .toggle-label .star-6 {
  width: 6px;
  height: 6px;
  background: #FFF;
  border-radius: 50%;
  left: 13px;
  bottom: 7px;
  box-shadow: -1px 0 1px 0 rgba(0, 0 , 0, 0.1);
}

#toggle-checkbox:checked + .toggle-label .star-7 {
  width: 8px;
  height: 8px;
  background: #FFF;
  border-radius: 50%;
  left: 18px;
  bottom: 7px;
  box-shadow: -1px 0 1px 0 rgba(0, 0 , 0, 0.1);
}

#toggle-checkbox:checked + .toggle-label .star-8 {
  width: 7px;
  height: 7px;
  background: #FFF;
  border-radius: 50%;
  left: 24px;
  top: 20px;
  box-shadow: -1px 0 1px 0 rgba(0, 0 , 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }
  
  25% {
    transform: translateX(1px);
  }
  
  100% {
    transform: translateX(-1px);
  }
}