/* Custom styles for the sidebar toggle button */
.ant-layout-sider-zero-width-trigger {
    background-color: #7c7e80 !important;
    color: transparent; /* Hide text */
    border-radius: 50%; /* Make it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: background-color 0.3s, transform 0.3s; /* Add transition */
    cursor: pointer; /* Change cursor to pointer */
}

.ant-layout-sider-zero-width-trigger .anticon {
    font-size: 18px; /* Adjust icon size */
}