.custom-menu-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}
.custom-menu-item .ant-menu-item-icon {
    color: #000;
}

.ant-dropdown-menu-title-content {
    display: flex;
    align-items: center;
}
.ant-dropdown-menu-title-content span {
    margin-left: 10px;
}
.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {
    color: #1890ff;
}
.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical {
    border-inline-end: none;
}
.ant-menu .ant-menu-item .ant-menu-item-icon + span {
    margin-inline-start: 10px;
    margin-inline: 0;
    opacity: 1;
    transition:
        opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        margin 0.3s,
        color 0.2s;
}
.ant-menu-vertical > .ant-menu-item {
    height: 42px;
}
.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.dark .custom-menu-item {
    background-color: #1F1F1F;
}


.dark .ant-menu-light .ant-menu-item .ant-menu-submenu-selected {
    color: #0066FF;
    background-color: #363636;
}
.dark .ant-menu-light .ant-menu-item:not(.ant-menu-submenu-selected):hover{
    color: #0066FF;
    background-color: #363636;
}

.dark .custom-menu-item .ant-menu-item-icon {
    color: #fff; 
}
.dark .custom-menu-item  .ant-menu-item-icon:hover {
    color: #0066FF;
}

.dark .ant-dropdown-menu {
    background-color: #545454;
    color: #fff;
}


.dark .ant-dropdown-menu-item {
    color: #fff !important;
}

.dark .ant-dropdown-menu-item:hover {
    color: #0066FF;
}