@import "../../variables.scss";

.sidebar-container {
  background-color: $background-color !important;
  border-inline-end: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 15px 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 36px;
  height: 36px;
}

.custom-menu {
  background-color: $background-color;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.custom-menu-item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
}

.bottom-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.ant-dropdown-menu-title-content {
  display: flex;
  align-items: center;

  span {
    margin-left: 10px;
  }
}

:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover {
  color: $primary-color;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

:where(
    .css-dev-only-do-not-override-11lehqq
  ).ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-menu
  .ant-menu-item
  .ant-menu-item-icon
  + span {
  margin-inline-start: 10px;
  margin-inline: 0;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s,
    color 0.2s;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-menu-vertical
  > .ant-menu-item {
  height: 42px;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  height: 100%;
}
