@import "../../variables.scss";
.login-form-or {
  text-align: center;
  margin: 20px 0;
  position: relative;

  span {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ddd;
    z-index: 0;
  }
}

.otp-submit {
  margin-top: 20px;
  background: $primary-color;
  border-color: $primary-color;
}

.dimmed-background {
  filter: blur(5px);
  pointer-events: none;
}

.otp-modal .ant-modal-content {
  position: relative;
}

.otp-inputs {
  display: flex;
  justify-content: center;
}
